# Logs


node_modules
dist
dist-ssr
*.local
./entrepreneur
dist
dist.zip



# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

.vercel

.vercel
entrepreneur/31jan.zip
entrepreneur/31jan.zip
eentrepreneur.zip
src/components/User/User.jsx
